
@font-face {
  font-family: 'DubaiW23-Regular';
  src: url('DubaiW23-Regular.eot?#iefix') format('embedded-opentype'),  url('DubaiW23-Regular.woff') format('woff'), url('DubaiW23-Regular.ttf')  format('truetype'), url('DubaiW23-Regular.svg#DubaiW23-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
