
@font-face {
  font-family: 'DubaiW23-Bold';
  src: url('DubaiW23-Bold.eot?#iefix') format('embedded-opentype'),  url('DubaiW23-Bold.woff') format('woff'), url('DubaiW23-Bold.ttf')  format('truetype'), url('DubaiW23-Bold.svg#DubaiW23-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
